* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif; */
}
main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  /* Always on the main axis */
  justify-content: center;
  /* Always on the cross axis */
  align-items: center;
}
.card {
  max-width: 20.5rem;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.image-container {
  background-color: hsl(277, 64%, 61%);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  mix-blend-mode:luminosity;
  opacity: 0.5;
}
h1 {
  padding: 2rem 2rem 1rem 2rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
}
h1 span {
  color: hsl(277, 64%, 61%);
}
.description {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 2rem;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
}
.statistics {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics div {
  padding: 1rem;
  text-align: center;
}
.numbers {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.scale {
  font-family: 'Lexend Deca', sans-serif;
  color:  hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
@media screen and (min-width: 62rem) {
  .card {
    display: flex;
    flex-direction:row-reverse;
    max-height: 27.87rem;
    max-width: 69.37rem;
}
  .title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
  }
  .description {
    font-size: 1rem;
    text-align: center;
    margin: 2rem;
  }
  .content {
    max-width: 34.37rem;
  }
  .statistics {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 2rem;
    gap: 1.5rem;
  }
}